* {
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.header center teal-text text-lighten-2 {
	color: black;
}

.gb1 {
	background-image: url("img2/b(1).jpg");
}

@media all and (max-width:768px){
	.hilang {
	display: none;
}
}

@media all and (max-width:1366px){
	.hilang1 {
	display: none;
}
}

#colorbackground {
  width:90%;
  background:gray;
  color:black;
  border:2px solid #222;
  padding:15px;
  font:bold 20px Sans-Serif;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#colorbackground:hover {
  color:white;
  background:black;
}

.batas1 {
	margin-top:-2.5%;
}

.batas2 {
	margin-top: -2.5%;
	margin-bottom: -1%;
}

.font1 {
  font-size: 18px;
  text-align: left;
}

.font3 {
  font-family: monotype corsiva;
}